
<head>

    <!-- Behavioral Meta Data -->
    <!-- https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Data -->
    <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }} &#8211; Mehr Zeit für dich | Die Praxis Administration mit Terminen und Rechnungen nach Tarif 590</title>
    <meta name="author" content="Andreas Kapp">
    <meta name="description" content="ERP Praxis Software Tarif 590 Termine Rechnungen Therapeuten Therapie Psychologen Kinesiologen">
    <meta name="keywords" content="">
    <meta name="google-site-verification" content="q5700RT0Cqjz3b9SlV27A9H0sZ--SKSus4-A7J4XIXA" />

    <!-- Open Graph Meta Data -->
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Humans -->
    <link rel="author" href="humans.txt" />

    <!-- Styles -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">

    <!-- Apple Touch Icons -->

    <!-- Apple Startup Images -->

    <!-- Google Analytics -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</head>
