   <!-- Navigation
        ======================================== -->

    <nav class="navbar  navbar-toggleable-sm  bg-faded navbar-inverse bg-inverse">

        <a class="navbar-brand" href="#">
            <img src="/img/praxkit-logo.png" width="70" height="70" alt="">
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
             </button>
        <span class="navbar-text"> Die genial einfache Praxis App.</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/#top">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
                    <a class="nav-link scroll" href="/#praxis">Praxis</a>
                </li>
                <li class="nav-item">
                    <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
                    <a class="nav-link scroll" href="/#werte">Werte</a>
                </li>
                <li class="nav-item">
                    <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
                    <a class="nav-link scroll" href="/#features">Funktionen</a>
                </li>
                <li class="nav-item">
                    <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
                    <a class="nav-link scroll" href="/#news">News</a>
                </li>
                <li class="nav-item">
                    <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
                    <a class="nav-link scroll" href="/#kontakt">Kontakt</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="btn align-middle btn-outline-success scroll" href="#kontakt">Anmelden</a>
                </li>
            </ul>
        </div>
    </nav>