// add your custom styles here
// to learn more about SASS, visit sass-lang.com
#intro {
    overflow: hidden;
    position: relative;
    background: url("../img/praxkit-tree.jpg") top center;
    background-size: cover;
}

#stage {
    color: yellow;
    margin-top: 6em;
    margin-bottom: 7em;
    .display-5 {
        color: chartreuse;
    }
}

#einladung {
    h1 {
        color: darkgray;
    }
    color: grey;
}

span.anchor {
    display: block;
    height: 124px;
    /* height of nav, in this case 124px */
    visibility: hidden;
    position: relative;
}