---
layout: default 
---
<div class="jumbotron-fluid">
<h1 class=display-1"><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;Blog</a></h1>

  <div class="row">
    <div class="col-sm-12 col-md5 text-left ">
      {% for post in site.posts %}
      <h1>
        <a class="lead" href="{{ post.url | prepend: site.baseurl }}">
											 {{ post.title }}
										</a>
      </h1>
      <p> {{ post.content | strip_html | truncatewords: 35 }} <br><br>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-secondary "> Weiter <i class="fa fa-chevron-right"></i></a>
      </p>

      {% endfor %}
      <p>
        <br>

      </p>

    </div>
  </div>


  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post py3">
      <p class="post-meta">{{ post.date | date: site.date_format }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h3 class="h5 post-title">{{ post.title }}</h3>
      </a>
      <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
    </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

</div>