--- 
---
<!DOCTYPE html>
<html lang="de-CH">

{% include head.html %}

<!-- activate scrollspy -->

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="400">
 
 <div class="site-wrap">

    {% include header.html %}
    
    <!-- Intro
        ======================================== -->

    <div id="intro" class="container-fluid">
        <div id="stage">
            <div id="stage-caption">
                <h1 class="display-5 text-left">Mehr Zeit für das Wesentliche gewinnen</h1>
                <br>
                <h2 class="text-left">Einfach deine Praxis Administration erledigen.</h2>
                <h2 class="text-left">Vom Termin zur Abrechnung. Mit PraxKit.</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <!-- Jumbotron EINLADUNG
        ======================================== -->
                <div class="jumbotron" id="einladung">
                    <div class="container">
                        <h2 class="">
                            Liebe Therapeutinnen und Therapeuten
                        </h2>
                        <p class="lead">
                            Bist Du auch selbstständig und suchst noch nach einer <em>einfachen Lösung</em> für deine Administration?
                        </p>
                        <p class="lead"> PraxKit soll Spass machen. Den Aufwand für deine Rechnungstellung minimieren. Die Abrechnung mit Tarif 590 ermöglichen.
                        </p>
                        <p class="lead">
                            Sobald wir PraxKit fertig haben und es getestet ist, schicken wir dir eine Einladung. Wenn Du Ideen hast und diese einbringen willst, melde dich doch bei uns.
                        </p>
                        <p class="lead text-left">
                            <a href="#kontakt" class="btn btn-lg btn-success" role="button">Mitmachen <i class="fa fa-chevron-right"></i></a>
                        </p>
                    </div>
                </div>


            </div>
            <div class="col-sm-6">

            </div>
        </div>

    </div>


    <!-- Therapeutin Andrea
        ======================================== -->
    <a id="praxis" class="anchor invisible"></a>
    <div id="praxisblock" class="container-fluid ">

        <div class="row ">
            <div class="col-sm-6">
                <!-- praxis image -->
                <img id="andrea" class="img" src="img/andrea-kapp.png" alt="Therapeutin Andrea Kapp">
            </div>
            <div class="col-sm-6 ">

                <!-- praxis content -->
                <div class="jumbotron praxis">

                    <h1 class="h1">So spare ich 6 Minuten Admin pro Sitzung.
                    </h1>
                    <p class="lead">
                        Bei 80 Terminen brauche ich mindestens einen Tag Administration. PraxKit reduziert dies auf wenige Minuten. Es erfordert keine PC Installation. Jederzeit sehe ich, wie viel ich verdient habe. Und was noch kommen wird.
                    </p>
                    <p>
                        <br>
                        <a class="btn btn-primary btn-lg btn-success" href="#news">Mehr erfahren <i class="fa fa-chevron-right"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Werte
        ======================================== -->
    <!-- Internal Anchor with CSS to account for fixed navigation header -->
    <a id="werte" class="anchor invisible"></a>
    <div id="values" class="container-fluid">

        <div class="row">
            <div class="col-sm-4"> </div>
            <div class="col-sm-8">
                <div id="werteschaffen" class="jumbotron">
                    <br>
                    <h1 class="display-5">Welche Werte wollen wir schaffen? </h1>
                    <br>
                    <h2>
                        Mehr Zeit für Café. <span class="text-alternative"> Entspannen, Diskutieren, Nachdenken.</span> Mehr Zeit für Familie und Freunde. <span class="text-alternative">Tun, was einem wichtig ist.</span> Sport statt Bürokram.
                        <span class="text-alternative">Dem Körper etwas Gutes tun.</span>
                    </h2>

                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">

                        <div id="kunden" class="jumbotron">
                            <h1 class="display-5">
                                Deinen Kunden schenkst Du was Du am besten kannst.
                            </h1>
                            <h2>
                                Den Rest erledigst Du mit PraxKit nebenbei: Termine, Adressen, Rechnungen, Zahlungseingänge.
                            </h2>
                        </div>

                        <!-- Produkt Angebot ======================================== -->
                        <a id="features" class="anchor invisible"></a>

                        <h1 id="warumpraxkit" class="display-4">Warum PraxKit?</h1>


                        <div class="card-group">
                           
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="text-center"><i class="fa fa-thumbs-o-up fa-lg"></i>&nbsp;</h3><br>
                                    <h4 class="card-title"> Von Therapeutinnen für Therapeuten </h4>
                                    <p class="card-text">PraxKit wird jetzt gerade intensiv zusammen mit Psychologinnen und Therapeuten entwickelt.</p>
                                    <p class="card-text"><small class="text-muted">Melde dich unten beim Newsletter an. Wir halten dich auf dem Laufenden.</small></p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="text-center"><i class="fa fa-magic fa-lg"></i>&nbsp;</h3><br>
                                    <h4 class="card-title"> Termine mit Kunden abmachen oder verschieben</h4>
                                    <p class="card-text"> Fertig mit den vielen Telefonaten. PraxKit bringt die Lösung für eine einfache Terminvereinbarung
                                        per Email und SMS mit deinen Kunden. </p>
                                    <p class="card-text"><small class="text-muted">PraxKit macht Kunden Terminvorschläge, blockiert Termine. Erinnert deine Kunden.</small></p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="text-center"><i class="fa fa-thumbs-o-up fa-lg"></i>&nbsp;</h3><br>
                                    <h4 class="card-title"> Rechnungen, auch nach Tarif 590, und Zahlungs&shy;kontrolle ganz einfach</h4>
                                    <p class="card-text"> Mit einem Klick die Rechnung ausgedruckt und Zahlungseingänge kontrolliert. Auch mittels
                                        Smartphone.
                                    </p>

                                    <p class="card-text"><small class="text-muted">Du hast im Cockpit die Übersicht über die Einnahmen.</small></p>
                                </div>
                            </div>
                             <div class="card">
                                <div class="card-block">
                                    <h3 class="text-center"><i class="fa fa-cog fa-spin fa-1x fa-lg"></i>&nbsp;</h3><br>

                                    <h4 class="cart-title"> Du bezahlst nur, wenn Du auch verdienst  </h4>
                                    <p class="card-text">PraxKit kostet
                                        dich pro Sitzung oder Behandlung. Gerade soviel wie das Porto in der Schweiz.</p> 
                                        <p> Du kannst also entspannt die Ferien geniessen. 
                                    </p>
                                    <p class="card-text"><small class="text-muted"> 
                                    - 100 Rappen für Rechnungserstellung<br>
                                    - 85 Rappen für Kalenderfunktionen</small></p>
                                    <a href="{{ site.baseurl }}/preise/" class="btn btn-primary btn-sm">Mehr <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>


                        <div id="news" class="jumbotron">
                            <div class="row">
                                <div class="col-sm-6 col-md5 text-left ">
                                    <h1 class="display-5">News
                                    </h1>
                                    <h2> <span class="text-alternative">In unserem Blog.</span>
                                    </h2>
                                    <h4>Wir halten dich <a href="{{ site.baseurl }}/blog">hier</a> auf dem Laufenden mit was wir uns beschäftigen.
                                    </h4>
                                </div>
                                <div class="col-sm-6 col-md5 text-left">

                                        <!--  ======================================== -->
                                        <!--=== Newsletter Form ===-->
                                        <div id="newsletter" class="contact">
                                            <h1 class="display-5">Up-to-date bleiben
                                            </h1>
                                            <h2> <span class="text-alternative">Hier anmelden.</span>
                                            </h2>
                                            <h4>Du hörst etwa alle zwei Monate von uns.
                                            </h4>
                                            <p> <br>
                                                <a class="btn btn-primary   " href="https://goo.gl/forms/GlxifA754LzRSEka2" target="_blank"> Name und Email <i class="fa fa-chevron-right"></i></a>
                                            </p>
                                            <!-- Solange wir kein Mailchimp haben 
                                        <form id="nl-form" class="form-horizontal contact-form">

                                            <div class="form-group">
                                                <label class="control-label" for="nl-name">Name</label>
                                                <div class="controls">
                                                    <input id="nl-name" name="name" placeholder="Name" class="form-control nl-requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Bitte gibt deinen Namen ein">

                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            -->
                                            <!-- End name input -->
                                            <!-- 
                                            <div class="form-group">
                                                <label class="control-label" for="nl-mail">Email</label>
                                                <div class=" controls">

                                                    <input id="nl-mail" name="_replyto" placeholder="Email" class="form-control nl-requiredField" data-new-placeholder="Your email" type="email" data-error-empty="Bitte gib deine Email ein" data-error-invalid="Ungültige Email Adresse">
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                            </div>
                                            -->
                                            <!-- End email input -->
                                            <!--
                                            <input type="hidden" name="_next" value="http://praxkit.ch/index.html" />

                                            <p><button name="submit" type="submit" class="btn btn-submit btn-block" data-error-message="Eingabefehler!" data-sending-message="Am Senden..." data-ok-message="Message geschickt"><i class="fa fa-paper-plane-o"></i> Anmelden</button></p>

                                            <input type="hidden" name="submitted" id="nl-submitted" value="true" />

                                        </form>
                                        -->
                                        </div>
                                </div>
                                    <!-- End newsletter-form -->
                            </div>
                                <!-- row -->
                            <!-- Blog entries -->
                            <div class="row">
                                <div class="col-sm-12 col-md5 text-left ">
                                    <hr>
                                   <h1 class="display-5">  
                                        Aktuell
                                    </h1>
                                    {% for post in site.posts %} {% if post.categories contains 'aktuell' %}
                                    
                                        <a class="lead" href="{{ post.url | prepend: site.baseurl }}"><h2><span class="text-alternative">{{ post.title }}</span></h2></a>
                                    

                                     
                                        {{ post.content | markdownify }}
                                    
                                    {% endif %} {% endfor %}
                                    <p>
                                      <br>
                                      <a class="btn btn-primary " href="{{ site.baseurl }}/blog">Blog <i class="fa fa-chevron-right"></i></a>
                                    </p>
                                      <!-- end blog -->
                                </div>
                            </div>
                            <!-- row -->

                        </div>

                    

                    <!-- Kontakt
        ======================================== -->
                    <!-- Internal Anchor with CSS to account for fixed navigation header -->
                    <a id="kontakt" class="anchor invisible"></a>
                    <div id="cntct" class="jumbotron">

                        <div class="row">

                            <div class="col-sm-6 col-md5 text-left">

                                <h1 class="display-5">Mitmachen 
                                </h1>
                                <h2> <span class="text-alternative"> Feedback geben.</span>
                                </h2>

                                <h4>Was wünschst Du dir als Erleichterung im Arbeitsalltag?
                                    <br> Wir freuen uns über jegliche Anregung von dir.

                                </h4>
                                <br>
                                
                                <div class="row">
                                    <div class="col-sm-6 col-md5">

                                        <div class="card" style="width: 120px;">
                                            <img class="card-img-top" src="img/andrea-kapp-120px.png" alt="Andrea Kapp">
                                            <div class="card-block">
                                                <h5 class="card-title">Andrea Kapp</h5>
                                                <p class="card-text">Psycho- therapeutin</p>
                                                <a href="http://kapp.ch/#ueberuns" class="btn btn-outline-secondary  btn-sm">Mehr <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="col-sm-6 col-md5 ">

                                        <div class="card" style="width: 120px;">
                                            <img class="card-img-top" src="img/andreas.kapp-bw-120px.png" alt="Andreas Kapp">
                                            <div class="card-block">
                                                <h5 class="card-title">Andreas Kapp</h5>
                                                <p class="card-text">Software Engineer</p>

                                                <a href="https://www.kapp.technology/andreaskapp/" class="btn btn-outline-secondary btn-sm">Mehr <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <br>



                            </div>
                            <div class="col-sm-6 col-md5 text-left">
                                <!--=== Contact Form ===-->
                                <div id="contact" class="contact">
                                    <form id="contact-form" class="form-horizontal contact-form" action="//formspree.io/hallo@praxkit.ch" method="post" novalidate>
                                    <!--form id="contact-form" class="form-horizontal contact-form" action="amdg.php" method="post" novalidate-->
                                        <div class="form-group">
                                            <label class="control-label" for="contact-name">Name</label>
                                            <div class="controls">
                                                <input id="contact-name" name="name" placeholder="Name" class="form-control contact-requiredField" data-new-placeholder="Your name"
                                                    type="text" data-error-empty="Bitte geben Sie ihren Namen ein">

                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <!-- End name input -->

                                        <div class="form-group">
                                            <label class="control-label" for="contact-mail">Email</label>
                                            <div class=" controls">

                                                <input id="contact-mail" name="_replyto" placeholder="Email" class="form-control contact-requiredField" data-new-placeholder="Your email"
                                                    type="email" data-error-empty="Bitte geben Sie ihre Email ein" data-error-invalid="Ungültige Email Adresse">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                        <!-- End email input -->

                                        <div class="form-group">
                                            <label class="control-label" for="contact-mail">Telefon</label>
                                            <div class=" controls">

                                                <input id="contact-phone" name="phone" placeholder="Telefonnummer" class="form-control contact-requiredField" data-new-placeholder="Your Phone"
                                                    type="text" data-error-empty="Bitte geben Sie ihre Telefonnummer ein">
                                                <i class="fa fa-mobile-phone"></i>
                                            </div>
                                        </div>
                                        <!-- End Phone input -->

                                        <div class="form-group">
                                            <label class="control-label" for="contact-message">Message</label>
                                            <div class="controls">

                                                <textarea id="contact-message" name="message" placeholder="Nachricht" class="form-control contact-requiredField" data-new-placeholder="Your message"
                                                    rows="6" data-error-empty="Bitte erfassen Sie ihre Nachricht"></textarea>
                                                <i class="fa fa-comment"></i>
                                            </div>
                                        </div>
                                        <!-- End textarea -->

                                        <input type="hidden" name="_next" value="https://www.praxkit.ch/index.html" />
                                        <input type="hidden" name="_language" value="de" />

                                        <p><button name="submit" type="submit" class="btn btn-submit btn-block" data-error-message="Eingabefehler!"
                                                data-sending-message="Am Senden..." data-ok-message="Message geschickt"><i class="fa fa-paper-plane-o"></i> Abschicken</button></p>

                                        <input type="hidden" name="submitted" id="submitted" value="true" />
                                        <input type="text" name="_gotcha" style="display:none" />

                                    </form>
                                </div>
                                <!-- End contact-form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col-sm-8 -->

        </div>
    </div>
    </div>


        {% include footer.html %}
    </div> <!-- site-wrap -->
</body>

</html>